<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                OLA!!!
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/customer">Customer App</a></li>
            <li><a href="/driver">Driver App</a></li>
        </ul>

    </div>
</nav>
