<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h3>Customer App</h3>
            <form>
              <div class="form-group">
                <label for="customerid">Customer ID:</label>
                <input type="text" class="form-control" id="customerid" name="customerid" placeholder="Enter Customer ID">
              </div>
                <span id="errorTxt"></span>
            </form>
            <button type="button" class="btn btn-default" onclick="submitBtnClicked()">Submit</button>
        </div>
        <% if(flag==3){ %>
        <div class="jumbotron">
            <p><%= msg %></p>
        </div>
        <% } %>
        <% if(flag==1){ %>
        <div class="jumbotron">
            <p><%= msg %></p>
        </div>
        <% } %>
        <% if(flag==0){ %>
        <div class="jumbotron">
            <p><%= msg %></p>
        </div>
        <% } %>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        var submitBtnClicked = function(){
            var customerId = document.getElementById('customerid').value;
            var url = "/api/customer";
            var body = {
                "customerid" : customerId
            };
            postCall(url, body);
        };
        var postCall = function(url, body) {
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (http.readyState == XMLHttpRequest.DONE) {
                    if (http.status == 200) {
                        alert("success");
                    }
                    else if (http.status == 400) {
                        alert('There was an error 400');
                    }
                    else {
                        alert('something else other than 200 was returned');
                    }
                    document.getElementById("errorTxt").innerHTML = http.responseText;
                }
            };

            http.open("POST", url, true);
            http.setRequestHeader("Content-type", "application/json");
            http.send(JSON.stringify(body));
        }
    </script>

</body>
</html>
